{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <p>This is great</p>
    {% if user.is_authenticated%}
    <li>Hello,{{user.first_name}}</li>
    <li><a href="accounts/logout">Logout</a></li>
    {% else %}
    <li><a href="accounts/register">Register</a></li>
    <li><a href="accounts/login">Login</a></li>
    <h1>No todos? Login to add todo or see your todos...</h1>
    {% endif %}
    <br> 
    {% for todo in todos %} 
    {% if todo.done %}
    <h1><strike>{{todo.taskname}}</strike></h1><br>
    {%else%}
    <h1>{{todo.taskname}}</h1><br>
    
    {% endif %} {% endfor %}
</body>

</html>